@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Questrial&display=swap");

:root {
  --bg-color: rgb(10, 10, 10);
  --text-color: #fff;
}

body {
  margin: 0%;
  padding: 0%;
  width: 100vw;
  background: var(--bg-color);
  color: var(--text-color);
  max-width: 100vw;
  overflow-x: hidden;
  align-items: center;
  font-family: "Poppins", sans-serif;
  height: 100%;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background: var(--text-color);
}

::selection {
  color: var(--bg-color);
  background: var(--text-color);
}
